<!DOCTYPE html>
<html>
    <head>
        <title> Information Yo!</title>
    </head>
    <body>
        <h1>Info Page</h1>
        <p>This is the info page: here's some information for ya!</p>
    </body>
</html>