<!DOCTYPE html>
<html>
	<head>
		<title>Info Page</title>
	</head>
	<body>
		<h1>Info Page</h1>
		<p>This is the info page: here's some information about me!</p>
        <h2>Bio</h2>
        <p> this is the story about how my world got turned upside down. starting making trouble in my neighbrohoodthis is the story about how my world got turned upside down. starting making trouble in my neighbrohoodthis is the story about how my world got turned upside down. starting making trouble in my neighbrohoodthis is the story about how my world got turned upside down. starting making trouble in my neighbrohood</p>
	</body>
</html>